<footer class="site-footer">
  <div class="container">
      <div class="content has-text-centered">
          <p>
              <span class="cz-icon">
                  <a href="mailto:cory.zue@gmail.com"><i class="fa fa-2x fa-envelope-o"></i></a>
                  <a href="https://twitter.com/czue"><i class="fa fa-2x fa-twitter"></i></a>
                  <a href="https://github.com/czue"><i class="fa fa-2x fa-github"></i></a>
                  <a href="https://www.instagram.com/czue13/"><i class="fa fa-2x fa-instagram"></i></a>
                  <a href="https://www.facebook.com/cory.zue"><i class="fa fa-2x fa-facebook"></i></a>
                  <a href="https://www.linkedin.com/in/coryzue/"><i class="fa fa-2x fa-linkedin-square"></i></a>
              </span>
          </p>
          <p><small>Copyright 2017, Cory Zue</small></p>
      </div>
  </div>
</footer>
