<section class="hero">
    <div class="container">
        <nav class="nav">
          <div class="nav-left">
              <p class="nav-item heading"><a href="{% link index.md %}">Cory Zue</a></p>
          </div>
          <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
          <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
          <span id="nav-toggle" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <!-- This "nav-menu" is hidden on mobile -->
          <!-- Add the modifier "is-active" to display it on mobile -->
          <div id="nav-menu" class="nav-right nav-menu">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for my_page in sorted_pages %}
               {% assign heading = my_page.heading %}
               {% unless heading %}{% assign heading = my_page.title %}{% endunless %}
               {% if heading %}
                  <a class="nav-item" href="{{ my_page.url | relative_url }}">{{ heading | escape }}</a>
               {% endif %}
            {% endfor %}
          </div>
        </nav>
    </div>
</section>
