
@import "../bower_components/bulma/bulma"

// bulma overrides

a
  &:hover
    text-decoration: underline

.site-footer
  padding-top: 1em


// mailchimp overrides

#mc_embed_signup input.mce_inline_error
  border-color: $red !important

#mc_embed_signup div.mce_inline_error
  background-color: $red !important

// new site styles

.cz-portrait
  max-height: 450px
  display: block
  margin: auto
  border-radius: 20px
  //border: 15px solid $white


.cz-icon a
  padding: .5em
  color: inherit

.cz-icon a
  &:hover
    color: $link

ul.cz-post-list
  list-style: none
  margin-left: 0px

.cz-post-list li
  list-style: none
  padding-top: 1.5em

.cz-post-date
  color: $text-light

.cz-post-list h2
  margin-top: .2em
  &:not(:first-child)
    margin-top: .2em
