$size-medium: 1.1rem !default

@import "../bower_components/bulma/bulma"

// bulma overrides

a
  &:hover
    text-decoration: underline

.site-footer
  padding-top: 1em


// mailchimp overrides

#mc_embed_signup input.mce_inline_error
  border-color: $red !important

#mc_embed_signup div.mce_inline_error
  background-color: $red !important

// new site styles

.cz-portrait
  max-height: 450px
  display: block
  margin: auto
  border-radius: 20px
  //border: 15px solid $white


.cz-icon a
  padding: .5em
  color: inherit
  &:hover
    color: $link

.cz-social a
  padding: .2em
  color: $grey
  &:hover
    color: $grey-dark

.cz-image-caption
  text-align: center
  font-size: $size-small
  color: $text-light

ul.cz-post-list
  list-style: none
  margin-left: 0px

.cz-post-list li
  list-style: none

.cz-weak
  color: $text-light

.cz-post-date
  @extend .cz-weak
  font-size: $size-small
  white-space: nowrap

.cz-post-date-inline
  @extend .cz-post-date
  padding-left: .5em

.cz-post-list h2
  margin-top: .2em
  &:not(:first-child)
    margin-top: .2em

.cz-post-list h2 a
  color: inherit

.cz-post-listing
  padding-bottom: 1.5em


// much inspired from medium.com
.cz-post
  max-width: 740px
  // padding-left: 20px
  // padding-right: 20px
  margin-left: auto
  margin-right: auto
  // letter-spacing: -.003em

  // center images in posts
  img
    display: block
    margin-left: auto
    margin-right: auto
    // max-height: 300px

.cz-post-body
  padding-top: .5em
  padding-bottom: 2em

.cz-table
  font-size: $size-normal

.cz-instagram
  max-width: 320px
  margin-left: auto
  margin-right: auto


.cz-image-banner
  background-image:    url('/images/mauritius-pano.jpg')  // default if not specified
  background-size:     cover
  background-repeat:   no-repeat
  background-position: center center
  min-height: 250px
  +mobile
    min-height: 200px !important

// stolen/modified from http://stackoverflow.com/a/16326442/8207
.cz-post blockquote
  font-family: Georgia, serif
  font-size: $size-4
  font-style: italic
  margin: 0.25em 0
  padding: 0.35em 40px
  line-height: 1.45
  position: relative

.cz-post blockquote:before
  display: block
  padding-left: 10px
  content: "\201C"
  font-size: 80px
  position: absolute
  left: -20px
  top: -20px
  color: #dbdbdb

.cz-poll-link
  display: none

// banners
#mauritius
  background-image:    url('/images/mauritius-pano.jpg')

#cape-town
  background-image:    url('/images/cape-town-pano.jpg')
