
@import "../bower_components/bulma/bulma"

.cz-portrait
  max-height: 450px
  display: block
  margin: auto
  border-radius: 20px
  //border: 15px solid $white


a
  &:hover
    text-decoration: underline

.hero.is-primary a
  font-weight: bold

.cz-icon a
  padding: .5em
  color: inherit

.cz-icon a
  &:hover
    color: $link
