---
layout: default
---
<section class="hero" aria-label="Content">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third">
                    <img class="cz-portrait" src="{{ '/images/cory-head-500-900.jpg' | relative_url }}" alt="Description">
                </div>
                <div class="column">
                    <p><h1 class="title">Hi, I'm Cory.</h1></p>
                    <p>
                        <h2 class="subtitle">
                            I'm an American software developer living in beautiful Cape Town, South Africa.
                        </h2>
                    </p>
                    <hr>
                    <div class="content">
                        <p>
                            For the past 10 years I've served as CTO of <a href="http://www.dimagi.com/">Dimagi</a>, a social
                            enterprise that specializes in mobile applications for underserved populations.
                            Until recently, I led the team that builds our flagship product: <a href="https://www.commcarehq.org/">CommCare</a>.
                        </p>
                        <p>
                            I'm currently taking a sabbatical from my day job to explore the world of possibilities around me.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
